body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu-button{
  width: 200px;
  margin-left: 0;
  margin-top: 5px;
  border-radius: 3px;
  display: block;
  height: 50px;
  border-radius: 5px;
}

.general-menu{
  position: absolute;
  left: 40%;
  top: 40%;
}
